*.core
aclocal.m4
autom4te.cache/
autoscan*.log
build-aux
compile
config.guess
config.h
config.h.in*
config.log
config.status
config.sub
configure
depcomp
install-sh
jkiss.pc
lib/.deps
lib/.libs
lib/jkiss.lo
lib/libjkiss.la
lib/Makefile
lib/Makefile.in
libtool
ltmain.sh
m4/*.m4
Makefile
Makefile.in
man/Makefile
man/Makefile.in
missing
stamp-h1
TODO
